* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* TOP BAR */
.top-bar {
    background: #222;
    color: #fff;
    padding: 8px 5%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

/* HEADER */
header {
    background: #0056b3;
    color: #fff;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.css-slider {
    display: flex;
    width: 90%;
    margin: auto;
}

.css-slider img {
    width: 33.3%;
    animation: fade 6s infinite;
}

.css-slider img:nth-child(2) {
    animation-delay: 2s;
}
.css-slider img:nth-child(3) {
    animation-delay: 4s;
}

@keyframes fade {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}


/* HERO */
.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("https://images.unsplash.com/photo-1581092335397-9583eb92d232");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

/* ABOUT */
.about {
    padding: 50px 10%;
    text-align: center;
}

.about h2 {
    color: #0056b3;
    margin-bottom: 15px;
}

/* STATS */
.stats {
    background: #f2f2f2;
    display: flex;
    justify-content: space-around;
    padding: 40px 10%;
    text-align: center;
}

.stats h3 {
    font-size: 30px;
    color: #0056b3;
}

/* SERVICES */
.services {
    padding: 50px 10%;
    text-align: center;
}

.services h2 {
    margin-bottom: 20px;
    color: #0056b3;
}

.service-box {
    background: #e9ecef;
    padding: 15px;
    margin: 10px auto;
    max-width: 400px;
    border-radius: 6px;
    font-weight: bold;
}

/* WHY */
.why {
    background: #f8f9fa;
    padding: 40px 10%;
}

.why h2 {
    color: #0056b3;
    margin-bottom: 15px;
}

.why ul li {
    list-style: none;
    margin-bottom: 8px;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
